:root {
  --font-size: 16px;

  --text-color: white;
  --main-background-color: rgb(0, 18, 32);
  --light-blue: rgb(65, 208, 216);
  --hover-color: rgb(61, 177, 184);
  --light-blue-opaque: rgb(65, 208, 216, .85);
  --dark-blue: rgb(0, 43, 60);
  --orange: #ffa230;
}


@media screen and (min-height: 750px) and (orientation: portrait) {
  :root {
    --font-size: 18px;
  }
}

@media screen and (min-height: 560px) and (max-aspect-ratio: 1366/600) and (min-aspect-ratio: 1/1) and (orientation: landscape) {
  :root {
    --font-size: 22px;
  }
}